@media only screen and (min-width: 768px) {
    form {
        width: 365px;
    }

    .card-background {
        width: 426px;
    }

    .category-card-container {
        width: 365px;
        word-wrap: normal;
    }
}