.container { 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  height: 335px;
  background: #F9F7F7;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.43);
  margin: 2rem 0;
}

input {
  border: none;
  outline: none;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 18px;
  margin: 1rem;
}

.submit-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  color: #FFF;
  background-color: #569A36;
  margin: 2rem 0;
  cursor: pointer;
}

ul, li {
  list-style-type: none;
  
  padding-left: 0;
}

ul {
  width: 100%;
  overflow: scroll;
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
ul::-webkit-scrollbar {
  display: none;
}

.expenses-container {
  width: 335px;
  height: 335px;
  background: #F9F7F7;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  text-align: left;
  color: rgba(0, 0, 0, 0.43);
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #FFF;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 18px;
}

.no-expenses {
  text-align: center;
}

.fa-times {
  margin-left: 0.5rem;
}

.fa-times:hover {
  cursor: pointer;
}